.hero-container {
  display: flex;
  flex-direction: column;
}
.social-icon-link {
  color: rgb(238, 236, 230);
  font-size: 34px;
  font-weight: bold;
  vertical-align: middle;
}

.button {
  color: white;
}
